[Unit]
Description=i3lock on suspend
Before=sleep.target

[Service]
User=xhlar
Type=forking
Enviroment=DISPLAY=":1"
ExecStart=/usr/bin/i3lock --color'#111111' 

[Install]
WantedBy=sleep.target
